#title {
  background-color: #000;
  color: #FFF;
}

#spectrum {
  background-color: #000;
  color: #FFF;
  display: inline-elements;  
}

body {
  font-family: 'Helvetica', sans-serif;
}

h1 {
  font-family: 'Helvetica', serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: 'Helvetica', serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-family: 'Helvetica', serif;
  font-size: 2rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.title-img {
  width: 70%;
  transform: rotate(0);
  position: absolute;
  right: 30%;
}

.author-img {
  width: 100%;
  transform: rotate(0);

/* <!--  right: 30%; --> */
}
@media (max-width: 1028px) {     /* Roughly size of tablet & mobile */

  #title {
    text-align: center;
  }

  .title-img{
    transform: rotate(0);
    position: static;

  }
}




/* Navigation Bar */

.navbar {
  padding: 0 0 0.5rem 0;
}

.navbar-brand {
  color: #000;
  font-family: 'Helvetica', serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 15px;
}

.nav-link {
  color: #000;
  font-size: 1.2rem;
  font-family: 'Helvetica', sans-serif;
}



/* Book pricing section */

#main, #author{
  padding: 100px;
  text-align: center;
  background-color: #000;
  color: #FFF;

}

.main-head {
  color: #fca652;
}

.main-column {
  padding: 3% 2%;

  color: #000;
}

.bob-about {
  text-align: left;
}

/* News section */

#news {
  background-color: #FE833C;
  color: #FFF;
}


/* Footer section */

#footer {
  text-align: center;
  padding: 7% 10%;
  background-color: #000;
  color: #FFF;

}

.media-icon {
  margin: 10px;
}
