#title {
  background-color: #000;
  color: #FFF;
}

body {
  font-family: 'Montserrat', serif;
}

h1 {
  font-family: 'Montserrat', serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat-Bold', serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-family: 'Montserrat-Bold', serif;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.title-img {
  width: 70%;
  transform: rotate(0);
  position: absolute;
  right: 30%;
}

.author-img {
  width: 100%;
  transform: rotate(0);

<!--  right: 30%; -->
}
@media (max-width: 1028px) {     /* Roughly size of tablet & mobile */

  #title {
    text-align: center;
  }

  .title-img{
    transform: rotate(0);
    position: static;

  }
}




/* Navigation Bar */

.navbar {
  padding: 0 0 0.5rem 0;
}

.navbar-brand {
  color: #000;
  font-family: 'Bokor', serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 15px;
}

.nav-link {
  color: #000;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}



/* Features section */

#features {
  padding: 7% 15%;
  background-color: #FFF;
  z-index: 1;
  position: relative;

}

.feature-col{
  text-align: center;
  padding: 5%;
}


.feature-icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.feature-icon:hover{
  color: #FF4C68;
}



.feature-para {
  color: #8F8F8F;
}



/* Reminisce section */


#testimonials {
  text-align: center;
  background-color: #EF8172;
  color: #FFF;
}

.testimonial-item {
  padding: 7% 15%;
}

.testimonial-head {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.testimonial-image {
  width: 30%;
/*  border-radius: 100%;  */
  margin: 20px;
}





/* Relax section */

#pricing{
  padding: 100px;
  text-align: center;
  background-color: #000;
  color: #FFF;

}

.pricing-head {
  color: #fca652;
}

.pricing-column {
  padding: 3% 2%;
  background-color: #fca652;
  color: #000;
}

/* News section */

#news {
  background-color: #FE833C;
  color: #FFF;
}


/* Footer section */

#footer {
  text-align: center;
  padding: 7% 10%;
  background-color: #000;
  color: #FFF;

}

.media-icon {
  margin: 10px;
}
